@import './reset.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: 'Roboto', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  height: 95vh;
}

#container {
  max-width: 400px;
  min-width: 360px;
  min-height: 540px;

  flex: 1;

  display: flex;
  flex-direction: column;
}

.fw-li {
  font-weight: 300;
}

.fw-nm {
  font-weight: 400;
}
.fw-md {
  font-weight: 500;
}

.fs-sm {
  font-size: small;
}

.fs-lg {
  font-size: large;
}

.fs-xlg {
  font-size: x-large;
}

.text-center {
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}