@import './reset.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,500');

body {
  font-family: 'Roboto', sans-serif;
}

#container {
  max-width: 400px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.fw-li {
  font-weight: 300;
}

.fw-nm {
  font-weight: 400;
}
.fw-md {
  font-weight: 500;
}

.fs-sm {
  font-size: small;
}

.fs-lg {
  font-size: large;
}

.fs-xlg {
  font-size: x-large;
}

.text-center {
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}