.input-switch {
  display: flex;
  justify-content: center;
}

.input-switch button,
.input-switch button:focus {
  width: 40%;
  background: #FFF;
  color: #000;
  font-size: inherit;  
  padding: 5px;
  border-radius: 2px;  
  border: none;
  outline: none;
}

.input-switch button.active {
  background: #000;
  color: #FFF;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}