.instructions-container {
  padding: 40px;
  overflow-y: scroll;
}

.instructions-container p,
.instructions-container ul {
  margin: 20px 0;
  line-height: 1.5em;
}

.instructions-container::-webkit-scrollbar {
  display: none;
}