.listing {
  margin-bottom: 20px;
  padding: 20px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.listing p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
.listing .panel2 {
  margin-bottom: 10px;
}

.listing .panel3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listing .panel3 p {
  margin: 10px 0;
}

.listing .panel4 p {
  margin: 10px 0;
}

.listing .panel5 {
  margin-top: 20px;
}
